<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Denver-Regular.ttf</string>
		<string>Denver-Bold.ttf</string>
		<string>outward-block.ttf</string>
		<string>outward-borders.ttf</string>
		<string>outward-round.ttf</string>
	</array>
</dict>
</plist>
